@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
body {
	font-family: 'IBM Plex Sans', sans-serif;
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.main {
	width: 406px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

.main_left {
	width: 40px;
	height: 100%;
	background: #394B59;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.main_right {
	width: 366px;
	height: 100%;
	background: #FFFFFF;
	border-right: 1px solid lightgray;
}

.main_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 30px;
}

.pop_title {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	display: flex;
	color: #394B59;
	flex-direction: row;
	justify-content: flex-start;
	min-height: 40px;
	border-bottom: 1px solid #D8E1E8;
	align-items: center;
	padding: 0 32px 0 15px;
	margin-bottom: 5px;
}

.pop_bottom {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 40px;
	border-top: 1px solid #D8E1E8;
	background: #EDF4FA;
	align-items: center;
}

.pop_bottom_left {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	display: flex;
	color: #394B59;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #D8E1E8;
	cursor: pointer;
}

.pop_bottom_right {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	display: flex;
	color: #394B59;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	align-items: center;
	color: #318CFE;
	cursor: pointer;
}

.scrolly {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.pop_ro_title {
	display: flex;
	justify-content: space-between;
	min-height: 30px;
	padding: 13px 26px 5px 15px;
	margin-top: -3px;
}

.pop_ro_title_radio {
	display: flex;
	justify-content: flex-start;
	min-height: 30px;
	padding: 13px 26px 5px 15px;
	margin-bottom: -12px;
	margin-top: -5px;
}

.pop_ro_title_left {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	color: #8A9BA8;
	display: block;
}

.pop_ro_title_left.mini {
	position: relative;
	top: 8px;
}

.pop_ro_title_left_black {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	color: #394B59;
	display: block;
}

.pop_ro_title_right {
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	text-align: right;
	color: #8A9BA8;
	display: block;
}

.pop_ro_title_big {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	color: #394B59;
	display: block;
}

.pop_ro {
	display: flex;
	justify-content: space-between;
	min-height: 30px;
	padding: 5px 26px 5px 15px;
}

.separator {
	border-bottom: 1px solid #D8E1E8;
	margin-top: 23px;
	margin-left: -12px;
	margin-right: -25px;
	margin-bottom: 13px;
}

input.inp_pop {
	width: 100%;
	text-align: left;
	background: transparent;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	border-radius: 5px;
	height: 30px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #394B59;
}

input.inp_pop_mini {
	width: 48%;
	text-align: left;
	background: transparent;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	border-radius: 5px;
	height: 30px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #394B59;
}

input.inp_pop_mini_m {
	width: 60px;
	text-align: left;
	background: transparent;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	border-radius: 5px;
	height: 30px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #394B59;
}

input.inp_pop_mini::-webkit-input-placeholder {
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #BFCCD6;
	font-family: IBM Plex Sans;
}

input.inp_pop_mini::-moz-placeholder {
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #BFCCD6;
	font-family: IBM Plex Sans;
}

input.inp_pop_mini:-moz-placeholder {
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #BFCCD6;
	font-family: IBM Plex Sans;
}

input.inp_pop_mini:-ms-input-placeholder {
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: normal;
	color: #BFCCD6;
	font-family: IBM Plex Sans;
}

button#dropdownMenuButton {
	width: 100%;
	text-align: right;
	background: transparent;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	border-radius: 5px;
	height: 30px;
	font-family: IBM Plex Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 10px;
	line-height: normal;
	padding: 0 10px;
	color: #BFCCD6;
}

.dropdown.mini_drop—Ä {
	width: 214px;
}

.pop_upload {
	cursor: pointer;
}

.main_pop {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_pop_cont_1 {
	display: block;
	background: #FFFFFF;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: 221px;
	height: 142px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	padding: 13px;
}

.main_pop_cont_4_Imp {
	display: block;
	background: #FFFFFF;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: 218px;
	height: 118px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	padding: 15px;
}

.main_pop_cont_del {
	display: block;
	background: #FFFFFF;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: 218px;
	height: 85px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	padding: 15px;
}

.main_pop_cont_del_row1 {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: normal;
	color: #10161A;
}

.main_pop_cont_del_row2 {
	height: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.but_del {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	width: 100px;
	height: 30px;
	background: #ED5641;
	border-radius: 5px;
	cursor: pointer;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
}

.but_cancel {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #10161A;
	width: 74px;
	height: 30px;
	background: #FFF;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
}

.main_pop_cont_4_Imp_text {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #10161A;
	display: block;
}

.main_pop_cont_1_top {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	color: #394B59;
	height: 37px;
}

.main_pop_cont_1_middle {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	height: 33px;
	color: #394B59;
}

.main_pop_cont_1_bottom {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	height: 37px;
	color: #394B59;
}

.main_pop_cont_1_top a {
	color: #394B59;
	transition: all 0.23s ease;
}

.main_pop_cont_1_middle a {
	color: #394B59;
	transition: all 0.23s ease;
}

.main_pop_cont_1_bottom a {
	color: #394B59;
	transition: all 0.23s ease;
}

.main_pop_cont_1_top a:hover {
	color: #318CFE;
	text-decoration: none;
}

.main_pop_cont_1_middle a:hover {
	color: #318CFE;
	text-decoration: none;
}

.main_pop_cont_1_bottom a:hover {
	color: #318CFE;
	text-decoration: none;
}

.main_pop_cont_1_top a:before {
	content: url(../img/excel_ic.svg);
	width: 22.5px;
	margin-right: 7px;
	position: relative;
	top: 5px;
	transition: all 0.23s ease;
}

.main_pop_cont_1_top a:hover:before {
	content: url(../img/excel_ic_act.svg);
	width: 22.5px;
	margin-right: 7px;
	position: relative;
	top: 5px;
}

.main_pop_cont_1_middle a:before {
	content: url(../img/vector_ic.svg);
	width: 22.5px;
	margin-right: 7px;
	position: relative;
	top: 5px;
	transition: all 0.23s ease;
}

.main_pop_cont_1_middle a:hover:before {
	content: url(../img/vector_ic_act.svg);
	width: 22.5px;
	margin-right: 7px;
	position: relative;
	top: 5px;
}

.main_pop_cont_1_bottom a:hover:before {
	content: url(../img/angle_ic_act.svg);
	width: 22.5px;
	margin-right: 7px;
	position: relative;
	top: 5px;
}

.main_pop_cont_1_bottom a:before {
	content: url(../img/angle_ic.svg);
	width: 22.5px;
	margin-right: 7px;
	position: relative;
	top: 5px;
}

.main_pop_cont_2 {
	display: block;
	background: #FFFFFF;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: 287px;
	height: 460px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
}

.scrollbar {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#style-4::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #D8E1E8;
	;
}

#style-4::-webkit-scrollbar {
	width: 4px;
	background-color: #D8E1E8;
	;
}

#style-4::-webkit-scrollbar-thumb {
	background-color: #394B59;
	;
	border: 2px solid #555555;
	border-radius: 10px;
}

.add_del {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: normal;
	color: #318CFE;
	display: block;
	cursor: pointer;
}

.add_del:before {
	content: url(../img/add_ic.svg);
	margin-right: 7px;
	position: relative;
	top: 3px;
	transition: all 0.23s ease;
}

table.tabl_main_cont {
	background: #FFFFFF;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	height: auto;
}

table.tabl_main_cont tr.tabl_main_cont_tr {
	background: #EDF4FA;
	border: 1px solid #D8E1E8;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	height: 38px;
	color: #8A9BA8;
}

table.tabl_main_cont tr.tabl_main_cont_tr th {
	width: 50%;
	text-align: left;
	padding: 0 10px 0 10px;
}

table.tabl_main_cont tr {
	box-sizing: border-box;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	min-height: 38px;
	height: 38px;
	color: #666;
}

table.tabl_main_cont tr td {
	width: 50%;
	text-align: left;
	padding: 0 10px 0 10px;
}

table.tabl_main_cont tr:last-child {
	height: 50px;
}

.bottom_tabl_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
}

table.tabl_main_cont tr td.no_pad {
	padding: 0;
}

.bottom_tabl_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-top: 1px solid #D8E1E8;
}

.bottom_tabl_block_left {
	background: #EDF4FA;
	border-right: 1px solid #D8E1E8;
	border-bottom: 1px solid #D8E1E8;
	box-sizing: border-box;
	width: 70px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom_tabl_block_middle {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	color: #8A9BA8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom_tabl_block_right {
	background: #EDF4FA;
	border-left: 1px solid #D8E1E8;
	border-bottom: 1px solid #D8E1E8;
	box-sizing: border-box;
	width: 70px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pop_ro.pop_ro_radio_input {
	margin-left: 23px;
}

.pop_ro_title_left.just {
	position: relative;
	top: 7px;
}

.pop_ro_right_dotted {
	display: inline-flex;
	width: 67px;
	justify-content: space-evenly;
}

img.add_thin_ic {
	cursor: pointer;
}

img.dotted_ic {
	cursor: pointer;
}

.info {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
	text-align: right;
	text-decoration-line: underline;
	cursor: pointer;
	color: #318CFE;
}

.td_last_edit {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.td_icons_right {
	display: flex;
	width: 80px;
	justify-content: space-between;
}

.scrolly {
	height: 340px;
	padding-top: 10px;
}

.pop_title.edit {
	margin-bottom: 0;
}

ul.nav.nav-tabs li:first-child.nav-item.edit a.nav-link.active:before {
	display: none;
	content: '';
}

ul.nav.nav-tabs li:first-child.nav-item.edit a.nav-link:before {
	display: none;
	content: '';
}

ul.nav.nav-tabs li:last-child.nav-item.edit a.nav-link.active:before {
	display: none;
	content: '';
}

ul.nav.nav-tabs li:last-child.nav-item.edit a.nav-link:before {
	display: none;
	content: '';
}

li.nav-item.edit {
	font-size: 14px;
}

a.nav-link.mi {
    font-size: 11px;
    line-height: 23px;
}

span.font_normal {
    font-weight: 400;
    color: #333;
}